@font-face {
  font-family: 'theano_didotregular';
  src: url('./font/theanodidot-regular-webfont.eot');
  src: url('./font/theanodidot-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./font/theanodidot-regular-webfont.woff') format('woff'), url('./font/theanodidot-regular-webfont.ttf') format('truetype'), url('./font/theanodidot-regular-webfont.svg#theano_didotregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  color: white;
  font-family: 'theano_didotregular';
}
a {
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.background,
.background:after {
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
}
.background span {
  background-image: url(./img/1.jpg);
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  font-size: 0;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
}
.inside {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 90%;
}
header {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
header nav {
  background: url('./img/bg.png');
}
header nav .inside {
  text-align: justify;
}
header nav .inside:after {
  content: '';
  display: inline-block;
  width: 100%;
}
header nav .logo {
  display: inline-block;
  line-height: 70px;
  vertical-align: middle;
}
header nav .logo img {
  vertical-align: middle;
}
header nav .logo div {
  display: none;
  float: right;
  height: 70px;
  width: 70px;
}
header nav .logo div a {
  display: block;
  padding: 19px 10px 9px;
}
header nav .logo div span {
  background-color: #eeeeee;
  border-radius: 2px;
  display: block;
  height: 5px;
  margin-bottom: 9px;
  width: 50px;
}
@media all and (max-width: 840px) {
  header nav .logo div {
    display: block;
  }
}
@media all and (max-width: 1000px) {
  header nav .logo {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
}
@media all and (max-width: 840px) {
  header nav .logo {
    padding-top: 0;
    text-align: left;
  }
}
header nav ul {
  display: inline-block;
  line-height: 70px;
  vertical-align: middle;
}
header nav ul li {
  display: inline-block;
  font-size: 18px;
  margin-left: 38px;
  text-transform: uppercase;
  vertical-align: middle;
}
header nav ul li a:hover {
  color: #fffd41;
}
header nav ul li:first-of-type {
  margin-left: 0;
}
@media all and (max-width: 1000px) {
  header nav ul {
    text-align: center;
    width: 100%;
  }
}
@media all and (max-width: 840px) {
  header nav ul {
    display: none;
  }
}
header .contact {
  color: #c8c8c8;
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  line-height: 45px;
  text-align: right;
}
header .contact .social a {
  margin: 0 5px 0 0;
}
header .contact .social img {
  background: white;
  border-radius: 3px;
  height: 18px;
  -webkit-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  vertical-align: middle;
  width: 18px;
}
header .contact .social img:hover {
  background: #fffd41;
}
header .contact .social.hide {
  display: none;
}
@media all and (max-width: 700px) {
  header .contact .social {
    display: none;
    text-align: center;
    width: 100%;
  }
  header .contact .social a {
    display: inline-block;
  }
  header .contact .social a:last-of-type {
    margin-right: 0;
  }
  header .contact .social.hide {
    display: block;
  }
}
header .contact .address .line2:before {
  content: ',';
}
@media all and (max-width: 320px) {
  header .contact .address .line2 {
    display: block;
  }
  header .contact .address .line2:before {
    content: '';
  }
}
@media all and (max-width: 700px) {
  header .contact .address {
    display: block;
  }
}
header .contact .phone {
  margin-left: 10px;
}
@media all and (max-width: 460px) {
  header .contact .phone {
    display: block;
  }
}
header .contact a {
  color: #fffd41;
  margin-left: 20px;
}
header .contact a:hover {
  color: white;
}
@media all and (max-width: 700px) {
  header .contact a {
    display: block;
    margin-left: 0;
  }
}
@media all and (max-width: 1000px) {
  header .contact {
    text-align: center;
    width: 100%;
  }
}
@media all and (max-width: 700px) {
  header .contact {
    line-height: 30px;
    padding: 10px 0;
  }
}
header::after {
  content: '';
  display: inline-block;
  width: 100%;
}
.callout {
  font-size: 0;
  margin-top: 620px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.callout article {
  float: left;
  margin-bottom: 4%;
  vertical-align: top;
  width: 33.33333%;
}
.callout article div {
  background: rgba(0, 0, 0, 0.5) url('./img/bg.png');
  padding: 8.5% 13%;
  width: 64%;
}
.callout article div h1 {
  font-size: 26px;
  margin: 0 -12% 50px -12%;
  text-align: center;
  text-transform: uppercase;
  width: 124%;
}
.callout article div p {
  color: #dddddd;
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.callout article div p .price {
  color: #a0fff5;
}
.callout article div .action {
  color: #fffd41;
  display: block;
  font-family: Georgia;
  font-size: 16px;
  text-align: center;
}
.callout article div .action:hover {
  color: white;
}
.callout article.left div p {
  font-style: normal;
  text-align: center;
}
@media all and (max-width: 1230px) {
  .callout article.left div {
    margin: 0 auto;
    width: 74%;
  }
}
@media all and (max-width: 1230px) {
  .callout article.left {
    width: 100%;
  }
}
.callout article.middle div {
  margin: 0 auto;
}
@media all and (max-width: 1230px) {
  .callout article.middle div {
    width: 70%;
    float: left;
  }
}
@media all and (max-width: 750px) {
  .callout article.middle div {
    width: 74%;
  }
}
@media all and (max-width: 750px) {
  .callout article.middle {
    width: 100%;
  }
}
.callout article.right {
  float: right;
}
.callout article.right div {
  float: right;
}
@media all and (max-width: 1230px) {
  .callout article.right div {
    width: 70%;
  }
}
@media all and (max-width: 750px) {
  .callout article.right div {
    width: 74%;
  }
}
@media all and (max-width: 750px) {
  .callout article.right {
    float: left;
    width: 100%;
  }
}
@media all and (max-width: 1230px) {
  .callout article {
    margin-bottom: 4%;
    width: 50%;
  }
}
h1.pagetitle {
  font-size: 64px;
  line-height: 1em;
  margin: 170px 0 30px;
  text-align: center;
  text-shadow: 10px 10px 80px black, -10px 10px 80px black;
  text-transform: uppercase;
}
@media all and (max-width: 1000px) {
  h1.pagetitle {
    margin-top: 260px;
  }
}
@media all and (max-width: 840px) {
  h1.pagetitle {
    margin-top: 170px;
  }
}
@media all and (max-width: 700px) {
  h1.pagetitle {
    margin-top: 235px;
  }
}
@media all and (max-width: 600px) {
  h1.pagetitle {
    font-size: 46px;
  }
}
@media all and (max-width: 460px) {
  h1.pagetitle {
    margin-top: 270px;
  }
}
@media all and (max-width: 350px) {
  h1.pagetitle {
    font-size: 40px;
  }
}
@media all and (max-width: 320px) {
  h1.pagetitle {
    margin-top: 285px;
  }
}
h4 {
  color: #a0fff5;
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
  text-transform: uppercase;
}
.page {
  background: rgba(0, 0, 0, 0.5) url('./img/bg.png');
  margin-bottom: 4%;
  z-index: 1;
}
.page h2 {
  background: rgba(0, 0, 0, 0.5);
  font-size: 38px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
@media all and (max-width: 600px) {
  .page h2 {
    font-size: 32px;
  }
}
.page .items {
  font-size: 0;
}
.page .item {
  display: inline-block;
  font-size: 16px;
  margin: 2%;
  vertical-align: top;
  width: 46%;
}
@media all and (max-width: 600px) {
  .page .item {
    text-align: center;
    width: 94%;
  }
}
.page h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.page p,
.page li {
  color: #cccccc;
  font-family: Georgia;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 8px;
}
.page p {
  padding: 20px;
}
.page h3 {
  margin-bottom: -20px;
  padding: 0 20px;
}
.page div p,
.page div h3 {
  margin: 0;
  padding: 0;
}
.page li {
  margin: 0 0 0 2%;
}
.page li span {
  color: #a0fff5;
}
footer {
  background: rgba(0, 0, 0, 0.8);
  color: #c8c8c8;
  font-family: Georgia;
  font-size: 16px;
  line-height: 45px;
  position: relative;
  z-index: 1;
}
footer .contact {
  display: block;
  text-align: center;
  line-height: 18px;
  padding-top: 15px;
  width: 100%;
}
footer .contact .social img {
  background: white;
  border-radius: 3px;
  height: 18px;
  margin-right: 5px;
  -webkit-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  vertical-align: middle;
  width: 18px;
}
footer .contact .social img:hover {
  background: #fffd41;
}
@media all and (max-width: 700px) {
  footer .contact .social {
    display: block;
    text-align: center;
    width: 100%;
  }
  footer .contact .social img:last-of-type {
    margin-right: 0;
  }
}
footer .contact .line2:before {
  content: ',';
}
@media all and (max-width: 320px) {
  footer .contact .line2 {
    display: block;
  }
  footer .contact .line2:before {
    content: '';
  }
}
@media all and (max-width: 700px) {
  footer .contact {
    display: block;
    line-height: 30px;
  }
}
footer .phone {
  margin-left: 10px;
}
@media all and (max-width: 460px) {
  footer .phone {
    display: block;
  }
}
footer ul {
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
footer ul li {
  display: inline-block;
  font-size: 16px;
  margin-left: 28px;
  text-transform: uppercase;
  vertical-align: middle;
}
footer ul li a:hover {
  color: #fffd41;
}
@media all and (max-width: 710px) {
  footer ul li {
    margin-left: 18px;
  }
}
@media all and (max-width: 650px) {
  footer ul li {
    margin-left: 9px;
  }
}
footer ul li:first-of-type {
  margin-left: 0;
}
@media all and (max-width: 600px) {
  footer ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: 0;
  }
  footer ul li a {
    display: block;
  }
}
@media all and (max-width: 960px) {
  footer ul {
    text-align: center;
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  footer ul {
    margin-top: 10px;
  }
}
footer .madewith {
  background: url(./img/bg.png);
  line-height: 45px;
  padding-bottom: 5px;
  text-align: center;
}
footer .madewith a:hover {
  color: #fffd41;
}
footer .madewith img {
  height: 30px;
  line-height: 45px;
  vertical-align: middle;
}
@media all and (max-width: 600px) {
  footer .madewith {
    padding: 10px 0 20px;
  }
}
