.section-header {
	margin-top: 1.5em;
}

.content-sidebar {
	margin-top: 1.0em;
}

.editor-content-card {
	margin-top: 1.0em;
}

.filedrag-preview-container-slideshow {
	max-width: 240px;
}

.bad-message-alert {
	padding-bottom: 0px;
}