.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ticket,
.ticket-comments {
  max-width: 730px;
  margin: 0 auto 24px;
  padding: 0 160px 0 70px;
}
.ticket-status .label {
  display: block;
  font-size: 1em;
  text-transform: capitalize;
  padding: 3px 6px;
  text-align: center;
}
.ticket .ticket-status {
  float: right;
  margin: 0 -150px 0 0;
  width: 120px;
  padding: 10px;
}
.ticket .ticket-status .label {
  font-size: 1.286em;
  padding: 8px;
  margin: 0 0 10px;
}
.ticket .ticket-status label {
  display: none;
}
.comment {
  margin: 0 0 24px;
}
.ticket-content,
.comment-content,
.form-content {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid #e5e5e5;
  border: 4px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.ticket-header,
.comment-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 15px;
}
.ticket-header {
  border-bottom-width: 2px;
}
.ticket-header h3 {
  margin: 10px 0 0;
}
.comment-header {
  background: #eee;
}
.ticket-message,
.comment-message {
  padding: 15px;
}
.form-content .control-group,
.form-content .form-actions {
  padding: 15px;
  margin: 0;
}
.form-content label {
  display: none;
}
.form-content textarea {
  margin: 0;
}
.user-icon {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin-left: -60px;
}
/* Reveal Modal Styling */
.reveal-modal-bg {
  background: #000;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
.reveal-modal {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  left: 50%;
  margin-left: -260px;
  padding: 30px;
  position: absolute;
  top: 100px;
  visibility: hidden;
  width: 520px;
  z-index: 41;
}
.reveal-modal.small {
  margin-left: -15%;
  width: 30%;
}
.reveal-modal.medium {
  margin-left: -20%;
  width: 40%;
}
.reveal-modal.large {
  margin-left: -30%;
  width: 60%;
}
.reveal-modal.xlarge {
  margin-left: -35%;
  width: 70%;
}
.reveal-modal.expand {
  margin-left: -45%;
  width: 90%;
}
.reveal-modal > :first-child {
  margin-top: 0;
}
.reveal-modal > :last-child {
  margin-bottom: 0;
}
.reveal-modal .close-reveal-modal {
  font-size: 1.5em;
  color: #ccc;
  cursor: pointer;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 8px;
}
.reveal-modal .close-reveal-modal:hover {
  color: #c00;
}
.reveal-modal .row {
  margin-bottom: 10px;
  min-width: 0;
}
.reveal-modal form {
  margin: 0;
}
@media print {
  .reveal-modal {
    background: white !important;
    border: solid 1px #000;
  }
}
